/src/utils/metapath2vec/Aminer
/src/utils/GCN/Data/CiteSeer
/src/utils/GCN/Data/Cora
/src/utils/GCN/Data/PubMed
/src/utils/GCN/__pycache__/
/src/utils/__pycache__/
/src/utils/Data/Cora
/src/utils/GCN/Data/



